<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Import style -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <!-- Import Vue 3 -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="https://unpkg.com/element-plus"></script>
    <!-- Import unocss -->
    <script>
      window.__unocss = {
        shortcuts: {
          'full': 'w-full h-full',
          'flex-col': 'flex flex-col',
          'flex-items': 'flex items-center',
          'flex-b-c': 'flex justify-between items-center',
          'flex-center': 'flex justify-center items-center',
          'flex-col-center': 'flex flex-col justify-center items-center',
          'border-default': 'border border-solid',
        },
      }
    </script>
    <script src="https://unpkg.com/@unocss/runtime"></script>
    <!-- Import flv.js -->
    <script src="https://cdn.bootcdn.net/ajax/libs/flv.js/1.5.0/flv.min.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="flex-col gap-10px">
        <video id="myVideo" width="640" height="360" controls autoplay></video>
        <el-select v-model="url" placeholder="请选择摄像头" style="width: 200px">
          <el-option
            v-for="camera in cameraList"
            :key="camera.url"
            :label="camera.name"
            :value="camera.url"
          ></el-option>
        </el-select>
        <div>
          <el-button type="primary" @click="start">开始播放</el-button>
          <el-button type="danger" @click="stop">停止播放</el-button>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue
      const { ElMessage } = ElementPlus

      const App = {
        setup() {
          // 视频流地址
          const cameraList = [
            {
              name: '摄像头1',
              url: '/live/cam1',
            },
            {
              name: '摄像头2',
              url: '/live/cam2',
            },
          ]
          const url = ref(cameraList[0].url)

          //  FLV 播放器实例
          let flvPlayer = null

          // 开始播放视频
          function start() {
            // 创建
            flvPlayer = flvjs.createPlayer({
              type: 'flv',
              url: url.value,
              isLive: true,
              cors: true,
              hasAudio: false,
              lazyLoad: false,
              enableWorker: false,
              stashInitialSize: 0,
              enableStashBuffer: false,
              autoCleanupSourceBuffer: true,
            })

            // 将 FLV 播放器与 video 标签绑定
            flvPlayer.attachMediaElement(document.getElementById('myVideo'))

            // 开始播放视频
            flvPlayer.load()
            flvPlayer.play()

            // 监听错误事件
            flvPlayer.on(flvjs.Events.ERROR, (errType, errDetail, errInfo) => {
              console.log('errInfo', errType, errDetail, errInfo)
              stop()
              ElMessage.error('播放错误')
            })
          }

          // 页面关闭时，停止播放视频
          function stop() {
            flvPlayer.unload()
            flvPlayer.detachMediaElement()
            flvPlayer.destroy()
          }
          return {
            cameraList,
            url,
            start,
            stop,
          }
        },
      }

      const app = Vue.createApp(App)
      app.use(ElementPlus)
      app.mount('#app')
    </script>
  </body>
</html>
